certifi==2019.3.9
chardet==3.0.4
cognitive-face==1.4.2
Django==2.1.5
django-crispy-forms==1.7.2
django-extensions==2.1.5
django-filter==2.1.0
django-filters==0.2.1
django-static-jquery==2.1.4
idna==2.8
Pillow==5.4.1
psycopg2==2.7.7
pydotplus==2.0.2
pyparsing==2.3.1
pytz==2018.9
requests==2.21.0
six==1.12.0
urllib3==1.26.5
