{% extends 'base.html' %}

{% block content %}



        <div class="row">
        <div class="col-md-4 ml-auto mr-auto">

            <div class="card">
                <div class="card-body">


                        <h2>Verification link sent. </h2>

<div class="alert alert-success" role="alert">
    <p>A verification link was sent to your email. Please confirm your email address to complete the registration.</p>
</div>


                </div>
            </div>
        </div>
    </div>




{% endblock %}
